{% extends 'base.html' %} 
{% block title %}Blog{% endblock %} 
{% block content %}

<!-- Hero Section -->
<section class="py-5 text-center bg-dark text-white">
    <div class="container">
        <h1 class="display-4">My Blogs</h1>
        <p class="lead">As a developer i do write sometimes, to keep others and I informed</p>
    </div>
</section>

<!-- Projects Section -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row g-4">
            <!-- Blog Card -->
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <img
                        src="../static/images/dev-1.jpeg"
                        class="card-img-top"
                        alt="Blog Post"
                    />
                    <div class="card-body">
                        <h5 class="card-title">Blog Title</h5>
                        <p class="card-text">
                            A brief overview of the blog content goes here...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

{% endblock %}
