{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="py-5 text-center bg-dark text-white">
  <div class="container">
    <h1 class="display-4">Contact</h1>
    <p class="lead">Explore my latest work and projects.</p>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        {% include "components/contact.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
